{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}
{% import "header.html" as header%}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
{{header}}
<table align="center" border="5" cellpadding="5" cellspacing="5">
    <tr>
        <th>Movie Id</th>
        <th>Movie Name</th>
        <th>Year</th>
    </tr>
    {%- for data in content %}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.year}}</td>
        </tr>
    {%- endfor %}
</table>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
